@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
	--Pllt1: #411530;
	--Pllt2: #D1512D;
	--Pllt3: #F5C7A9;
	--Pllt4: #F5E8E4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
	background-color: var(--Pllt3);
	/* margin-top: 85px; */
	/* margin-bottom: 50px; */
	padding-top: 10px;
	/* padding-bottom: 50px; */
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 100%;
	color: var(--Pllt1);
  top: 100px;
  position: fixed;
}

.ql-video
{
    width: 640px;
    height: 480px;
    align-items: center;
    text-align: center;
    display: block; 
    margin: 0 auto;
}

a {
	text-decoration: none;
	color: var(--Pllt2);
}

p {
	line-height: 1.7;
}

ul {
	list-style: none;
}

li {
	line-height: 2.2;
}

h1,
h2,
h3 {
	color: var(--Pllt2);
	font-weight: 600;
	margin-bottom: 10px;
}

.container {
	width: 100%;
	max-width: 960px;
	height: 100vh;
	margin: 0 auto;
	padding: 10px 10px;
  padding-bottom: 150px;
	/* text-align: center; */
	/* display: block; */
	/* position: relative; */
  overflow-y: auto;
  height:'100px';
}

.header {
	width: 100%;
	padding: 15px 20px 10px 20px;
	margin-bottom: 20px;
	background-color: var(--Pllt1);
	display: flex;	
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--Pllt4);
	position: fixed;
	top: 0;
}


.header ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header ul li {
	margin-left: 20px;
	margin-top: 10px;
}

.header ul li a {
	display: flex;
	align-items: center;
}

.header ul li a:hover {
	color: var(--Pllt4);
}

.header .logo {
	margin-left: 20px;
	margin-top: -10px;
	display: flex;
	align-items: center;
	font-size: 2rem;
	text-decoration: none;
}

.header .logo a:hover {
	color: var(--Pllt4);
	text-decoration: none;
}

.header ul li a svg {
	margin-right: 5px;
}

.footer {
	background-color: var(--Pllt1);
	display: flex;	
	align-items: center;
	padding: 10px;
	border-top: 1px solid var(--Pllt3);
	width: 100%;
	text-align: center;
	/* justify-content: space-between; */
	/* margin-bottom: 60px; */
	left: 0;
	bottom: 0;
	position: fixed;
}

.footer p {
	color: var(--Pllt4);
	align-content: center;
	text-align: center;
	margin: auto;
}

.heading {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 50px;
	padding: 0 20px;
}

.heading p {
	color: #828282;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.boxes div {
  padding: 30px;
  border: 1px solid var(--Pllt4);
  border-radius: 10px;
}

.boxes h2 {
  margin-top: 20px;
}

.boxes a:hover {
  color: #777;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--Pllt4);
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-std {
  background: var(--Pllt2);
  border: 1px solid var(--Pllt2);
  color: var(--Pllt4);
}

.btn-std:hover {
  background: transparent;
  border: 1px solid var(--Pllt4);
  color: var(--Pllt2);
}

.btn-lbl {
  color: var(--Pllt4);
}

/* .btn-lbl:hover {
  color: var(--Pllt2);
} */

.btl-fa { 
  color: var(--Pllt4); 
  font-size: 1.5em 
}

/* .btl-fa:hover { 
  color: var(--Pllt2); 
  font-size: 1.5em 
} */

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-danger {
  background: darkred;
  border: none;
}

.btn-back {
  width: 150px;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
  /* background-color: black; */
}

.activity-created {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 50px;
}

.activity-number {
  margin-bottom: 30px;
}

.activity-number h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.activity-number p {
  font-size: 1.3rem;
}

.activity-info {
  font-size: 1.3rem;
}

.activity,
.activity-headings {
  overflow-y: auto;
  height:'350px';
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 1fr 5fr 1.5fr;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #f4f4f4;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}

.activity-left {
  align-items: left;  
}

.activity-mid {
  text-align: left;  
}

.activity-right {
  align-items: right;  
}

.activity-headings {
  font-weight: 700;
}

.status {
  background-color: #333;
  color: #fff;
  width: 100px;
  padding: 0 20px;
  justify-self: center;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.status-new {
  background-color: green;
  color: #fff;
  border-radius: 10px;
}

.status-open {
  background-color: steelblue;
  color: #fff;
  border-radius: 10px;
}

.status-closed {
  /* background-color: darkred; */
  background-color: var(--Pllt2);
  color: #fff;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  align-items: center ;
  padding-top: 5px;
}

.activity-page {
  position: relative;
  text-align: left;
}

.activity-page h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-page .btn {
  margin-bottom: 30px;
}

.activity-page .btn-block {
  width: 100%;
  margin-top: 30px;
}

.activity-desc {
  margin: 20px 0;
  font-size: 17px;
  background-color: #f4f4f4;
  border: 1px #ccc solid;
  padding: 10px 15px;
  border-radius: 5px;
  overflow-y: auto;
  /* height:'350px'; */
}

.note {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.note-head {
  background: #f4f4f4;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.note-date {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 14px;
}

.delete-note {
  color: red;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.btn-close {
  background: none;
  border: none;
  color: #000;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-close:hover {
  color: red;
  transform: scale(0.98);
}

p.status-in-progress {
  color: orangered;
}

p.status-waiting {
  color: red;
}

p.status-ready {
  color: steelblue;
}

p.status-complete {
  color: green;
}

footer {
  position: sticky;
  top: 95vh;
  text-align: center;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.heading p {
  font-size: 1.5rem;
  color: #411530;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .boxes {
    grid-template-columns: 1fr;
  }

  .form {
    width: 90%;
  }

  .activity-created h2,
  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
    color: #411530;
  }
}